.Cities {
  padding:1em;
  border-top: var(--borders);
}

.Cities-selector {
  color: var(--dark-font);
  border: var(--borders);
  border-radius: var(--border-radius);
  background-color: var(--content-background);
  font-size: 13pt;
  padding: 1em;
  width: 100%;
  margin-bottom: 0.5rem;
}