.Cities {
  padding:1em;
  border-top: var(--borders);
  margin:auto;
}

.Cities-selector {
  margin:auto;
  color: var(--main-font);
  border: var(--borders);
  border-radius: var(--border-radius);
  background-color: var(--content-background);
  font-size: 13px;
  padding: 1em;
  width: 100%;
  max-width: 500px;
  margin-bottom: 0.5rem;
}


@media screen and (min-width:800px) {
  .Cities-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    max-width: 1200px;
    margin:auto;
  }
  .Cities-list > * {
    flex-basis: 100%;
  }
}