.City {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  max-width: 500px;
  margin:auto;
}

.City-current{
  background-color: var(--content-background);
  border: var(--borders);
  border-radius: var(--border-radius);
  color: var(--main-font);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left:1rem;
  padding-right:1rem;
  padding-bottom:1rem;
  overflow: hidden;
}
.City-current > * {
  width: 50%;
}
.City-current > *:nth-child(-n+2) {
  align-self:flex-start;
}
.City-current > *:nth-child(n+3) {
  align-self:flex-end;
}
.City-current > *:nth-child(odd) {
  text-align: left;
}
.City-current > *:nth-child(even) {
  text-align: right;
}




.City-header {
  padding-top: 1rem;
  z-index: 1;
}
.City-name {
  font-size: 16px;
  color: var(--main-font);
}
.City-description {
  font-size: 13px;
  color: var(--detail-font);
  white-space: normal;
}
@media screen and (min-width:270px) {
  .City-name {
    font-size: 19px;
    color: var(--main-font);
  }
}
@media screen and (min-width:350px) {
  .City-description {
    white-space: nowrap;
  }
}




.City-large-temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.City-large-icon {
  display: block;
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  padding-top:10px;
  padding-bottom:10px;
}
.City-main-temperature {
  font-size: 20px;
  color: var(--main-font);
  white-space: nowrap;
}
@media screen and (min-width:270px) {
  .City-large-temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .City-large-icon {
    display: block;
    box-sizing: content-box;
    height: 60px;
    width: 60px;
    padding-top:10px;
    padding-bottom:10px;
  }
  .City-main-temperature {
    font-size: 26px;
    color: var(--main-font);
    white-space: nowrap;
  }
}
@media screen and (min-width:350px) {
  .City-large-icon {
    display: block;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    padding: 0;
  }
}




.City-date {
  font-size:15px;
  color:var(--main-font);
  white-space: nowrap;
}
.City-time-of-day {
  font-size:13px;
  color:var(--detail-font);  
}




.City-details{
  margin-top: 1rem;
}
.City-detail {
  font-size: 13px;
  color: var(--detail-font);
  white-space: nowrap;
}
.City-wind::before{
  content: "";
}
.City-humidity::before{
  content: "";
}
.City-precipitation::before{
  content: "";
}
@media screen and (min-width:270px) {
  .City-wind::before{
    content: "Wind: ";
  }
  .City-humidity::before{
    content: "Humidity: ";
  }
  .City-precipitation::before{
    content: "Precip.(3h): ";
  }
}
@media screen and (min-width:350px) {
  .City-precipitation::before{
    content: "Precipitiation (3h): ";
  }
}




.City-forecasts {
  padding-top:0.5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  gap: 0.3em;
}

.City-forecast {
  background-color: var(--content-background);
  border: var(--borders);
  border-radius: var(--border-radius);
}



.City-small-temperature {
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.City-small-icon {
  display:block;
  height:50px;
  width:50px;
}
.City-temperature{
  font-size: 15px;
  color: var(--main-font);
}




.City-small-details {
  background-color: var(--dim-background);
  border-top: var(--borders);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.City-small-detail {
  font-size: 10px;
  color: var(--detail-font);
}



.hide {
  display:none;
}